#splash {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background:rgb(12, 12, 12);
	text-align:center;
	color:#fff;
}

#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 20;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #fff;
}

header {
    box-shadow: 0px 5px 0px 0px #c8c8c8;
    font-family: "Times New Roman";
}


#app {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    padding: 28px;
    line-height: 1.5;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 2px 5px 0px #c8c8c8;
    font-family: "Times New Roman";
  }
  
  #error {
    margin: 5px 0 0 0;
    color: #ff0000;
    font-size: 0.84rem;
    font-weight: bold;
  }

  h1 {
    margin: left;
    width: 100%;
    box-shadow: 0px 3px 0px 0px #c8c8c8;
    border-bottom: 2px solid #384878;
  }
  
  table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  table>tbody>tr>th {
    width: 80px;
    padding: 20px 10px;
    text-align: left;
    border-bottom: 2px solid #384878;
  }
  table>tbody>tr>td {
    width: calc(100% - 80px);
    padding: 20px 10px;
    border-bottom: 2px solid #cccccc;
  }
  table tbody tr td input {
    padding: 5px;
    border: 0;
    border: 1px solid #cccccc;
  }
  table>tbody>tr>td>button {
    padding: 3px 10px;
    color: #ffffff;
    background-color: #00c2bc;
    border: 0;
    box-shadow: none;
    cursor: pointer;
  }
  table>tbody>tr>td>.zipcode {
    width: 75px;
  }

